@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;

}

/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

.style0 {
  color: blue;
  font: italic bold 28px "Piazoll";
  text-decoration: overline double orange;
}

.style1{
  color: #145a56;
  font: oblique 60px 'Ceviche One';
  text-decoration: underline #f730aa;
  text-transform:capitalize;
}

.style2 {
  color: rgb(221, 197, 15);
  font: normal 200 100px 'Raleway Dots'; 
  text-transform: lowercase;
}
.style3 {
   color: #ceaa27;
   font: 12 42px 'Ceviche One';
   text-decoration: line-through dotted 2px #fff;
}

.style4 {
  color: #551414;
   font: 22 30px "Piazoll";
   text-decoration: underline #fff;
   text-transform:capitalize; 
}

.style5 {
  color: rgb(248, 172, 65);
  font: normal 27px 'Raleway Dots'; 
  text-decoration: line-through dotted 2px #fff;
  text-transform: lowercase;
}

.style6 {
  color: #81b2ba;
   font: 90 30px "Piazoll";
   text-decoration: line-through wavy 2px #c89e9e;
   text-transform: capitalize; 
}

.style7 {
  color: rgb(151, 113, 51);
  font: bold 44px 'Raleway Dots'; 
  text-transform: capitalize;

}

.style8{
   color: #88ce27;
   font: 12 42px 'Ceviche One';
   text-decoration: underline dashed 2px #9d55e0;
   text-transform: lowercase;

}

.style9 {
   color: #9c3673;
   font: 90% 80px 'Ceviche One';
   text-decoration: overline dotted 4px rgb(112, 80, 181)f;
  
}